/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 1200px) {
    .movie_section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 15px;
        margin-top: 25px;
        margin: 0 auto;
      }
}
