*{
margin: 0;
}

/* Globals */
body{
  font-family: 'Oswald', sans-serif;
}
h2{
  font-size: 45px;
}
.main_title{
  font-size: 70px;
}
.text_hero{
  font-size: 17px;
}
input{
  height: 35px;
  width: 400px;
  border-radius: 7%;
}
/* Header Styles */
nav{
  background-color: #6A040F;
  padding: 10px;
}
.search_bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

.btn_search{
  height: 50px;
  width: 100px;
  border-radius: 10%;
  color: black;
}

/* Main Section */
/* Creating the Hero */
.hero{
  height: 500px;
  background-image: url("https://images.unsplash.com/photo-1595769816263-9b910be24d5f?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1479");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}
.hero_content{
  text-align: center;
  padding-top: 55px;
}
.movie_section_h2{
  padding-left:80px;
}
.movie_section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  margin-top: 25px;
}
/* Phones */
@media only screen and (max-width: 600px) {
  .search_bar{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
  }
  .nav-child{
    margin-bottom: 10px;
  }
  h2{
    text-align: center;
  }
  .movie_section{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    margin-top: 25px;
  }
}

.movie_section img{
  width: 300px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
footer{
background-color: #6A040F;
height: 100px;
text-align: center;
padding-top: 15px;
color: white;
}